<clr-header>
  <div class="branding">
    <a [routerLink]="['/']" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Recipe Book</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a  clrDropdownItem (click)="onSaveData()">Save Data</a>
        <a  clrDropdownItem (click)="onFetchData()">Fetch Data</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
