<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-12">
    <app-shopping-edit (addListItem)="addToShoppingList($event)"></app-shopping-edit>
    <hr>
    <table *ngIf="ingredients" class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredient of ingredients">
        <td><a href="">{{ingredient.name}}</a></td>
        <td>{{ingredient.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


